<?xml version='1.0' encoding='utf-8'?>
<config>
  <geometry>2004x1344+242+2</geometry>
  <last_path>F:\02.MUSIC\POP\Adam Levine</last_path>
  <last_drive>F:\</last_drive>
  <last_folder>F:\02.MUSIC\POP\Adam Levine</last_folder>
  <sash_main>495</sash_main>
  <sash_right>831</sash_right>
</config>